/* Header */
.header {
  /* position: -webkit-sticky !important;
  position: sticky !important;
  top: 0; 
  z-index: 1400; */
  transform: translate3d(0, 0, 0);
}

.menu {
  z-index: 1401 !important;
}

.header-action {
  margin-right: 20px;
}

.header-desktop {
  display: flex;
}

.header-mobile {
  display: none;
}

.header .btn {
  background-color: transparent !important;
  color: #fff !important;
}

.header .logo {
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  color: #121212;
  display: flex;
  width: 150px;
}

.parent {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente los hijos */
  position: relative;
}

.div1,
.div3 {
  flex: 0 0 auto; /* Evita que div1 y div3 crezcan automáticamente */
}

.div2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >=960px) {
  .header {
    min-height: 64px;
  }
}

/* Device width is less than or equal to 960px */

@media only screen and (width <=960px) {
  .header {
    min-height: 56px;
  }

  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: flex;
    margin-right: -13px;
  }

  .toolbar {
    min-height: 56px !important;
  }
}

@media (width <= 400px) {
  .header .logo {
    width: 100px;
  }
}

@media (width <= 350px) {
  .div2 {
    position: static;
    transform: none;
  }
}
